*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: #e2e1e1;
}
a{
    text-decoration: none;
}
body {
    font-family: Montserrat, sans-serif; 
    padding-left: 80px;
}

nav {
    /* background: ; */
    height: 80px;
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    color: black;
}

label.logo img{
    color: white;
    font-size: 1px;
    font-weight: bold;
    margin-left: 20px;
    /* margin-top: 5px;  */
    height: 80px;
}

nav ul {
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a:hover{
    color: red;
    transition: .5s;
}
a.active {
    /* background: #1b9bff; */
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px; 
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 20px; 
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        color: black;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1072d5;
        top: 80px;
        left: -100%;
        
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
        color: white;
    }
    
    a:hover {
        background: none;
        color: red;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

section {
    /* background: url(bg1.jpg) no-repeat; */
    background-size: cover;
    height: calc(100vh - 80px);
}
#main{
    margin-top: 20px;
}

h1{
    font-family: Montserrat;
    font-size: 50px;
    /* text-align: center; */
    text-transform: capitalize;
    margin-top: 20px;
}
#India-courts-table{
    /* background-color: red; */
    height: 30vh;
     margin-top: 100px;
}
#India-courts-table #part1,#India-courts-table #part2{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#India-courts-table #cols{
    border: 2px solid #111;
    border-radius: 10px;
    height: 11vh;
    width: 25vw;
    /* padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 10vw;  */
    padding-left: 15px;
    position: relative;
    display: flex;
    gap: 40px;
    align-items: center;
}

#India-courts-table #cols h2{
    color: #111;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Montserrat;
}
#India-courts-table #cols #icon{
    border: 2px solid #111;
    border-radius: 50%;
    padding: 10px;
}
#India-courts-table #cols #icon img{
    height: 30px;
    width: 30px;
    rotate: -40deg;
}
